TwojaLodowka/TwojaLodowka/Service References/ServiceReference3/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LodowkaSerwice" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LodowkaSerwice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SuperUzytkownikType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id_super" type="xs:int" />
      <xs:element minOccurs="0" name="Status_super" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SuperUzytkownikType" nillable="true" type="tns:SuperUzytkownikType" />
  <xs:complexType name="PrzepisDane">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="PrzepisDane" nillable="true" type="tns:PrzepisDane" />
  <xs:complexType name="UzytkownikDane">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="UzytkownikDane" nillable="true" type="tns:UzytkownikDane" />
</xs:schema>